@using CleanArchitecture.Blazor.Server.UI.Constants
@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> L
<MudRTLProvider>
    <MudThemeProvider Theme="Theme.ApplicationTheme()"/>
    <MudLayout>
        <AuthorizeView>
            <NotAuthorized>
                <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center" Style="height: 100vh; max-width:100%;">
                    <div class="d-flex flex-column" style="min-width:300px; width:450px; ">
                        <MudPaper Elevation="25" Class="px-8 pb-8 pt-0" Width="100%">
                          <div class="d-flex align-center justify-center">
                                <MudBlazorLogo>

                                </MudBlazorLogo>
                              </div>
                            @Body
                        </MudPaper>
                    </div>
                </MudContainer>
            </NotAuthorized>
            <Authorized>
                <RedirectToHome/>
            </Authorized>
        </AuthorizeView>
    </MudLayout>
</MudRTLProvider>

@code
{

}

<style>
    .mud-container {
        background-image: url('/img/LoginImage-1.png');
        background-size:100%;
    }
</style>