@using CleanArchitecture.Blazor.Application.Features.Dashboard.Queries.GetDashboardTotal
    using CleanArchitecture.Blazor.Application.Features.Dashboard.Queries.GetDashboardTotal
<CompositeViewBaseComponent IsBusy="@(dashboardTotals == null)">
    <ChildContent>
        <div class="d-flex flex-wrap justify-lg-space-between  justify-md-space-between  justify-sm-space-between  justify-center">
            <div class="bg-gray d-flex mb-4 align-center  justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <path d="M20.4444 7.94444C20.4444 11.7798 17.3353 14.8889 13.5 14.8889C9.66468 14.8889 6.55554 11.7798 6.55554 7.94444C6.55554 4.10913 9.66468 1 13.5 1C17.3353 1 20.4444 4.10913 20.4444 7.94444Z" stroke="#FFB402" stroke-width="2" />
                        <path d="M1 26C2.32956 21.7274 5.74997 20.4445 13.5 20.4445C21.25 20.4445 24.6704 21.7274 26 26" stroke="#FFB402" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </div>

                <div class="ms-3">
                    <p class="mb-0 fs-13 fw-600 text-gray">Total Campaign</p>
                    <p class="mb-0 fs-13 fw-600 text-gray"></p>
                </div>
            </div>
            <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path d="M23.7136 17.4794H6.24041C5.9094 17.4794 5.59195 17.3479 5.35789 17.1138C5.12383 16.8796 4.99233 16.562 4.99233 16.2309C4.99233 15.8998 5.12383 15.5822 5.35789 15.3481C5.59195 15.1139 5.9094 14.9824 6.24041 14.9824H19.2704C20.1049 14.9824 20.9156 14.7036 21.5736 14.1901C22.2316 13.6766 22.6992 12.958 22.9023 12.1482L24.9617 4.04524C25.0084 3.86097 25.0125 3.66845 24.9735 3.48237C24.9346 3.29629 24.8537 3.12156 24.737 2.9715C24.6156 2.8176 24.4597 2.69445 24.2819 2.61203C24.1041 2.5296 23.9094 2.49022 23.7136 2.49706H5.94087C5.68338 1.76848 5.20691 1.13741 4.5768 0.690361C3.94669 0.243312 3.19377 0.00217183 2.42128 0H1.24808C0.917071 0 0.599616 0.131541 0.365555 0.365686C0.131494 0.599831 0 0.9174 0 1.24853C0 1.57966 0.131494 1.89723 0.365555 2.13138C0.599616 2.36552 0.917071 2.49706 1.24808 2.49706H2.42128C2.70639 2.48875 2.98574 2.57838 3.21282 2.75103C3.43991 2.92368 3.60103 3.16893 3.66936 3.44595L3.74425 4.04524L5.90343 12.4853C4.9104 12.53 3.97578 12.9675 3.3052 13.7016C2.63461 14.4356 2.28299 15.4061 2.32767 16.3995C2.37236 17.3929 2.8097 18.3278 3.54348 18.9986C4.27726 19.6695 5.24738 20.0212 6.24041 19.9765H6.46507C6.2598 20.5423 6.19384 21.1491 6.27278 21.7458C6.35171 22.3425 6.57321 22.9113 6.91852 23.4042C7.26383 23.897 7.72278 24.2994 8.25651 24.5772C8.79023 24.855 9.38302 25 9.98466 25C10.5863 25 11.1791 24.855 11.7128 24.5772C12.2465 24.2994 12.7055 23.897 13.0508 23.4042C13.3961 22.9113 13.6176 22.3425 13.6965 21.7458C13.7755 21.1491 13.7095 20.5423 13.5043 19.9765H16.4497C16.2445 20.5423 16.1785 21.1491 16.2574 21.7458C16.3364 22.3425 16.5579 22.9113 16.9032 23.4042C17.2485 23.897 17.7074 24.2994 18.2412 24.5772C18.7749 24.855 19.3677 25 19.9693 25C20.571 25 21.1638 24.855 21.6975 24.5772C22.2312 24.2994 22.6902 23.897 23.0355 23.4042C23.3808 22.9113 23.6023 22.3425 23.6812 21.7458C23.7601 21.1491 23.6942 20.5423 23.4889 19.9765H23.7136C24.0446 19.9765 24.362 19.845 24.5961 19.6108C24.8302 19.3767 24.9617 19.0591 24.9617 18.728C24.9617 18.3968 24.8302 18.0793 24.5961 17.8451C24.362 17.611 24.0446 17.4794 23.7136 17.4794ZM22.116 4.99413L20.481 11.5364C20.4127 11.8134 20.2516 12.0587 20.0245 12.2313C19.7974 12.404 19.5181 12.4936 19.233 12.4853H8.462L6.58988 4.99413H22.116ZM9.98466 22.4736C9.73781 22.4736 9.49651 22.4003 9.29126 22.2632C9.08602 22.126 8.92605 21.931 8.83158 21.7028C8.73712 21.4747 8.7124 21.2236 8.76056 20.9815C8.80872 20.7393 8.92759 20.5168 9.10213 20.3422C9.27668 20.1676 9.49907 20.0487 9.74117 20.0005C9.98328 19.9523 10.2342 19.977 10.4623 20.0715C10.6903 20.166 10.8853 20.3261 11.0224 20.5314C11.1595 20.7367 11.2327 20.9781 11.2327 21.225C11.2327 21.5562 11.1013 21.8737 10.8672 22.1079C10.6331 22.342 10.3157 22.4736 9.98466 22.4736ZM19.9693 22.4736C19.7225 22.4736 19.4812 22.4003 19.2759 22.2632C19.0707 22.126 18.9107 21.931 18.8162 21.7028C18.7218 21.4747 18.6971 21.2236 18.7452 20.9815C18.7934 20.7393 18.9122 20.5168 19.0868 20.3422C19.2613 20.1676 19.4837 20.0487 19.7258 20.0005C19.9679 19.9523 20.2189 19.977 20.4469 20.0715C20.675 20.166 20.8699 20.3261 21.0071 20.5314C21.1442 20.7367 21.2174 20.9781 21.2174 21.225C21.2174 21.5562 21.0859 21.8737 20.8519 22.1079C20.6178 22.342 20.3003 22.4736 19.9693 22.4736Z" fill="#5F27CD" />
                    </svg>
                </div>

                <div class="ms-3">
                    <p class="mb-0 fs-13 fw-600 text-gray">Total Sales</p>
                    <p class="mb-0 fs-13 fw-600 text-gray">@dashboardTotals.TotalSales</p>
                </div>
            </div>
            <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <path d="M1 10.5556C1 8.66995 1 7.72715 1.58579 7.14136C2.17157 6.55557 3.11438 6.55557 5 6.55557H5.16667H21.8333H22C23.8856 6.55557 24.8284 6.55557 25.4142 7.14136C26 7.72715 26 8.66995 26 10.5556V22C26 23.8856 26 24.8284 25.4142 25.4142C24.8284 26 23.8856 26 22 26H19.0556H7.94444H5C3.11438 26 2.17157 26 1.58579 25.4142C1 24.8284 1 23.8856 1 22V10.5556Z" stroke="#FF9F43" stroke-width="2" stroke-linejoin="round" />
                        <path d="M7.94434 6.55556V3C7.94434 1.89543 8.83977 1 9.94434 1H17.0554C18.16 1 19.0554 1.89543 19.0554 3V6.55556" stroke="#FF9F43" stroke-width="2" stroke-linejoin="round" />
                        <path d="M1 10.7222C1.25852 12.5508 2.02082 14.2414 3.16052 15.6825C5.43697 18.5611 9.21912 20.4445 13.5 20.4445C17.7809 20.4445 21.563 18.5611 23.8395 15.6825C24.9792 14.2414 25.7415 12.5508 26 10.7222" stroke="#FF9F43" stroke-width="2" stroke-linecap="round" />
                        <path d="M12.8057 14.8889H14.1946" stroke="#FF9F43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>

                <div class="ms-3">
                    <p class="mb-0 fs-13 fw-600 text-gray">Total Students</p>
                    <p class="mb-0 fs-13 fw-600 text-gray"></p>
                </div>
            </div>
            <div class="bg-gray mb-4 d-flex align-center justify-center px-3" style="border-radius:10px; width:170px; height:70px;">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M18.7 3.34791C18.0676 3.29981 17.3572 3.29988 16.6307 3.29996L5.36944 3.29996C4.64291 3.29988 3.93246 3.29981 3.30005 3.34792L3.30005 3.29995C3.30005 1.4774 4.77751 -6.04504e-05 6.60005 -6.03708e-05L15.4 -6.10352e-05C17.2226 -6.09555e-05 18.7 1.4774 18.7 3.29995L18.7 3.34791Z" fill="#FF6B6B" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82773 10.9999C9.85179 10.9999 9.87593 10.9999 9.90015 10.9999L12.1001 10.9999C12.1244 10.9999 12.1485 10.9999 12.1726 10.9999C13.1477 10.9999 13.9879 10.9998 14.6607 11.0903C15.3818 11.1872 16.073 11.4058 16.6336 11.9665C17.1942 12.5271 17.4128 13.2183 17.5098 13.9394C17.6002 14.6122 17.6002 15.4524 17.6001 16.4275L17.6001 16.5723C17.6002 17.5475 17.6002 18.3877 17.5098 19.0605C17.4128 19.7816 17.1942 20.4728 16.6336 21.0334C16.073 21.594 15.3818 21.8126 14.6607 21.9096C13.9879 22 13.1477 22 12.1726 21.9999L9.82773 21.9999C8.8526 22 8.0124 22 7.33958 21.9096C6.61851 21.8126 5.92733 21.594 5.3667 21.0334C4.80607 20.4728 4.58745 19.7816 4.49051 19.0605C4.40005 18.3877 4.40009 17.5475 4.40015 16.5723C4.40015 16.5483 4.40015 16.5241 4.40015 16.4999C4.40015 16.4757 4.40015 16.4516 4.40015 16.4275C4.40009 15.4524 4.40005 14.6122 4.49051 13.9394C4.58745 13.2183 4.80607 12.5271 5.3667 11.9665C5.92733 11.4058 6.61851 11.1872 7.33958 11.0903C8.01241 10.9998 8.8526 10.9999 9.82773 10.9999Z" fill="#FF6B6B" />
                        <path d="M5.42759 4.39997C4.45245 4.39991 3.61226 4.39986 2.93944 4.49032C2.21837 4.58727 1.52718 4.80589 0.966554 5.36652C0.405925 5.92715 0.187305 6.61834 0.090361 7.33941C-9.78641e-05 8.01223 -5.17384e-05 8.85243 2.76909e-06 9.82757L2.66659e-06 12.1724C-5.19262e-05 13.1475 -9.81181e-05 13.9877 0.0903607 14.6606C0.187307 15.3816 0.405925 16.0728 0.966553 16.6335C1.59112 17.258 2.44971 17.4766 3.30368 17.549C3.29994 17.249 3.29997 16.9413 3.3 16.6306C3.3 15.6859 3.27401 14.7312 3.40018 13.7929C3.51342 12.9505 3.78933 11.9881 4.58874 11.1887C5.38816 10.3893 6.35054 10.1134 7.19287 10.0002C7.93934 9.89979 8.84125 9.89989 9.76938 9.89998L12.2306 9.89998C13.1588 9.89989 14.0607 9.89979 14.8071 10.0002C15.6495 10.1134 16.6119 10.3893 17.4113 11.1887C18.2107 11.9881 18.4866 12.9505 18.5998 13.7929C18.726 14.7312 18.7 15.6859 18.7 16.6306C18.7 16.9413 18.7001 17.249 18.6963 17.549C19.5503 17.4766 20.4089 17.258 21.0334 16.6335C21.5941 16.0728 21.8127 15.3816 21.9096 14.6606C22.0001 13.9877 22.0001 13.1475 22 12.1724L22 9.8276C22.0001 8.85246 22.0001 8.01223 21.9096 7.33941C21.8127 6.61834 21.5941 5.92715 21.0334 5.36652C20.4728 4.80589 19.7816 4.58727 19.0606 4.49032C18.3877 4.39986 17.5475 4.39991 16.5724 4.39997L5.42759 4.39997Z" fill="#FF6B6B" />
                    </svg>
                </div>

                <div class="ms-3">
                    <p class="mb-0 fs-13 fw-600 text-gray">Orders Completed</p>
                    <p class="mb-0 fs-13 fw-600 text-gray">@dashboardTotals.TotalCompletedOrders</p>
                </div>
            </div>

        </div>
    </ChildContent>

    <BusyView>
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </BusyView>
</CompositeViewBaseComponent>


@code {
    private DashboardTotalsDto? dashboardTotals = null;

    protected override async Task OnInitializedAsync()
    {
        await FetchDashboardTotals();
    }

    private async Task FetchDashboardTotals()
    {
        var query = new GetDashboardTotalsQuery();
        dashboardTotals = await Mediator.Send(query);
    }

    private async Task RefreshData()
    {
        await FetchDashboardTotals();
    }
}